*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

body{
    line-height: 1.7;
    color: var(--color-white);
    background: #1f2641;
}


.container{
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}



nav {background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0; 
    z-index: 11;
}

.nav__container {
        height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu {
     list-style: none;
}

.nav__menu li a {
    text-decoration: none;
}

.nav__menu a:hover {
    background-color: #1f2641;
    color: #000;
    transition: 0.7s ease;
}

.wrapper {
    background: red;
}

.form__login {
    text-align: center;
    background: white;
    border-radius: 6px;
    border: 2px solid red;
    padding: 2rem 3rem 2rem;
    margin:  10rem 26rem 0rem;
}

.form__register {
    text-align: center;
    background: white;
    border-radius: 6px;
    border: 2px solid red;
    padding: 2rem 3rem 2rem;
    margin:  0rem 26rem 5rem;
}









