.lesson1 {
    background: var(--color-bg1);
}

.lesson1__container {
    cursor: pointer;
}

.lesson1__container h2 {
    background-color: var(--color-primary);
    width: 100%;
    padding: 5rem;
}

.lessons h3 {
    background: var(--color-danger);
    width: fit-content;
}


/*=============================================================LESSONB 1===============================*/
.lesson2 {
    background: var(--color-bg2);
}


.lesson2__container h2 {
    background-color: var(--color-primary);
    width: 100%;
    padding: 5rem;

}




/*=============================================================LESSONB 1===============================*/
.lesson3 {
    background: var(--color-bg3);
}

.lesson3__container h2 {
    background-color: var(--color-primary);
    width: 100%;
    padding: 5rem;
    margin: 0 5rem 5rem;
}



/*=============================================================LESSONB 1===============================*/